@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}
.w-1070{
    width:1070px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    color: #696871;
    font-family: "DM Sans"; sans-serif:
    font-size 15px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.469px;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.header__activ-link{
    color: #19191B;
    border-bottom: 2px solid #5454D4;
}
.header__button{
    width: 211.02px;
    height: 60px;
    border-radius: 10px;
    background: #FF7143;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 68px;
}
.hero div h1{
    color: #19191B;
    font-family: "DM Sans";
    font-size: 75px;
    font-weight: 700;
    line-height: 77px; /* 102.667% */
    letter-spacing: -2.501px;
}
.hero div p{
    color: #696871;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    margin: 30px 0 50px 0;
    width: 409.426px;
}
.hero button{
    width: 188.211px;
    height: 60px;
    border-radius: 10px;
    background: #5454D4;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}
.brends{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 212px 0 160px 0;
}
.index{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.index div h2 {
    color: #19191B;
    font-family: "DM Sans";
    font-size: 50px;
    font-weight: 700;
    line-height: 57px; /* 114% */
    letter-spacing: -1.563px;
}
.index div p{
    color: #696871;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    width: 459px;
    padding: 30px 0 30px 0;
}
.index div a{
    color: #5454D4;
    font-family: "DM Sans";
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}
.teather{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 100px 0;
}
.teather h2{
    color: #19191B;
    font-family: "DM Sans";
    font-size: 50px;
    font-weight: 700;
    line-height: 57px; /* 114% */
    letter-spacing: -1.563px;
}
.teather p{
    color: #696871;
    font-family: Mulish;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 150% */
    letter-spacing: -0.625px;
    width: 409px;
    margin: 30px 0 30px 0;
}
.teather a{
    color: #5454D4;
    font-family: "DM Sans";
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
}
.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:100px 0px 100px 0px;
}
.card div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card div h4{
    color: #19191B;
    text-align: center;
    font-family: "DM Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.75px;
    margin-top: 20px;
}
.card div p{
    color: #696871;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.5px;
    margin-top: 20px;
}
.card div img{
    height: 72px;
}
.butoons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 100px 0;
}
.butoons h1{
    color: #19191B;
    font-family: "DM Sans";
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1.876px;
    width: 523px;
    text-align: center;
}
.butoons button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 344px;
    height: 65px;
    border-radius: 10px;
    background: #F7F7FB;
}
.bly{
    width: 160px;
    height: 55px;
    border-radius: 10px 0 0 10px;
    background: #5454D4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}
.vite{
    color: #19191B;
    text-align: center;
    font-family: "DM Sans";
    font-size: 16px;
    font-weight: 700;
    letter-spacing: -0.5px;
    text-align: center;
    width: 175px;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}
footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 330px;
    height: 441px;
    border-radius: 10px;
    background: #F8F8F8;
    transition: 1.2s;
}
footer div p{
    color: #696871;
    font-family: "DM Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.563px;
}
footer div h1{
    color: #1D293F;
    font-family: "DM Sans";
    font-size: 60px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -1.034px;
}
footer div button{
    color: #5454D4;
    text-align: center;
    font-family: "DM Sans";
    font-size: 17px;
    font-weight: 700;
    letter-spacing: -0.531px;
    border-radius: 10px;
    border: 1px solid #EAE9F2;
    background: #FFF;
    width: 285px;
    height: 60px;
    transition: 1.2s;
}
footer div:hover{
    transform: scale(1.1);
    color: #FFF;
    font-family: Mulish;
    font-size: 17px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: -0.531px;
    border-radius: 10px;
    background: #FF7143;
    box-shadow: 0 32px 34px 0 rgba(255, 112, 59, 0.32);
    transition: 1.2s;
}
footer div button:hover{
    width: 305px;
    height: 60px;
    border-radius: 10px;
    background: #9F3919;
    transition: 1.2s;
    color: #FFF;
}
