@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Pangolin", cursive;
    font-weight: 400;
    font-style: normal;
}
header{
    display: flex;
    height: 20vh;
    background: #141313;
    background: linear-gradient(91deg,rgba(20, 19, 19, 1) 0%, rgba(214, 196, 30, 1) 65%, rgba(255, 123, 0, 1) 100%);
}
header div.logo{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
}
h3{
    color: #efd6ce;
    margin: 10px 20px 0px 30px;
}
header img{
    height: 130px;
    margin: 0px 20px 10px 30px;
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 5vw;
    margin: 5vh auto auto 30vw;
    font-size: 60px;
}
.nav ul li a{
    color: darkred;
}
main{
    background-image:url("https://fon.at.ua/_ph/27/783592939.jpg?1757373915");
    background-size: cover;
    background-position: right;
    height: 200vh;
}
main div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.conekt{
    color: white;
    height: 60vh;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 0.8s;
    margin: 7vh 10vw;

}
span img{
    height: 50vh;
    width: auto;
}
.conekt:hover{
    transform:scale(1.2);
    transition: 1s;
    -webkit-box-shadow: 2px 1px 28px 31px rgba(122,222,220,0.57);
    box-shadow: 2px 1px 28px 31px rgba(122,222,220,0.57);
}