*{
    padding: 0;
    margin: 0;
}
body {
    background-color: #e88f6c;
    height: 100px;
}
.cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item {
    width: 100px;
    height: 100px;
    background-color: darkred;
    border-radius: 0;
    transition: 3s;
    margin: 50px;
}
.item:hover {
    background-color: gray;
    border-radius: 50%;
    transition: 2s;
}