*{
    margin: 0;
    padding: 0;
}
body{
    background:darkgreen;
}
.year{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 10px;
}
.mons{
    background: lightgreen;
    padding: 10px;
    margin: 10px;
    width: 210px;
    height: 180px;
    border-radius:10px;
    transition: 1s;
    box-shadow: 1px 1px 10px -3px rgba(94,222,58,0.97);
}
.mons h1{
    margin: 10px 0;
    font-size: 20px;
}
.mons p{
    margin: 15px 0;
    font-size: 13px;
}
.mons:hover{
    transform: scale(1.05);
    transition: 2s;
    box-shadow: 5px 5px 15px 5px #000000;
}