* {
    margin: 0;
    padding: 0;
}
body {
    background-color: bisque;
}
h1 {
    text-align: center;
    padding: 50px;0;

}
.wrapper{
    padding: 10px;15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 15px;0;
}
.card{
    width: 250px;
    height: 300px;
    border: 3px solid gray;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card img {
    height:150px;
}
.card p{
    padding-top: 20px;
    font-size: 25px;

}