*{
    margin: 0;
}
.grid{
    display: grid;
    /*justify-items: center;*/
    /*align-items: center;*/
    height: 100vh;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-areas:
            'header header'
            'content1 spam1'
            'content2 spam1'
            'content2 spam2'
            'content3 spam2'
            'footer footer';
    text-align: center;
    font-size: 45px;
}

header{
    grid-area: header;
    background: #8D8484;
    text-align: center;


}
.content1{
    grid-area: content1;
    background: #776969;
    color: white;


}
.content2{
    grid-area: content2;
    background: #643030;
    color: white;


}
.content3{
    grid-area: content3;
    background: #441818;
    color: white;


}
.spam1{
    grid-area: spam1;
    background: #937575;
    color: white;


}
.spam2{
    grid-area: spam2;
    background: #644C4C;
    color: white;


}
footer{
    grid-area: footer;
    background: #BDBDBD;


}
