@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}
body{
    background:#1E1E1E;;
}
.w-1340{
    width: 1340px;
    margin: 0 auto;

}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigator{
    padding-top: 36px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:59px;
}
ul a{
    color: #E9E3DC;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
}
.naw__active-link{
   display: flex;
    align-items: center;
    justify-content: center;
    width: 203px;
    height: 60px;
    background: #B3A0CD;
    color: #1E1E1E;
    font-family: "Bowlby One", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
}
.header-title{
    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One",sans-serif;
    font-size: 107.088px;
    font-weight: 400;
    line-height: 88.896%; /* 95.198px */
    letter-spacing: -2.142px;
    text-transform: uppercase;
    width: 1255px;
    margin: 74px auto 33px auto;
}
.header-img{
    display: block;
    margin: auto;
}
.yelov{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 4px solid #1E1E1E;
    background: #D1EF53;
    width: 1340px;
    height: 369px;
    margin: 32px auto 64px auto;
}
.yelov h2{
    color: #1E1E1E;
    font-family: "Bowlby One",sans-serif;
    font-size: 70px;
    font-weight: 400;
    line-height: 88.896%; /* 62.228px */
    letter-spacing: -1.4px;
    text-transform: uppercase;
    width: 533px;
}
.yelov p{
    color: #1E1E1E;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 139.896%; /* 33.575px */
    letter-spacing: -0.48px;
    width: 521px;
    height: 75px;
}
.yelov button{
    border: 4px solid #1E1E1E;
    background: #E9E3DC;
    box-shadow: 8px 8px 0 0 #000;
    width: 176px;
    height: 60px;
    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    margin-top: 34px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.piple{
    margin: 64px auto 64px auto;
}
.order{
    color: #E9E3DC;
    text-align: center;
    font-family: "Bowlby One",sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 101.896%; /* 71.328px */
    text-transform: uppercase;
}
.order{
    color: #E9E3DC;
    font-family: "Bowlby One",sans-serif;
    font-size: 70px;
    text-align: center;
    font-weight: 400;
    line-height: 101.896%; /* 71.328px */
    text-transform: uppercase;
    width: 895px;
}
.finish{
    width: 196px;
    height: 60px;
    background: #D1EF53;
    color: #1E1E1E;
    text-align: center;
    font-family: "Bowlby One",sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 96.896%; /* 17.441px */
    text-transform: uppercase;
    margin: 33px auto 36px auto;
}