*{
    margin: 0;
}
.grid{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1.8fr 1fr;
    grid-template-rows: 1fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
    'header header header'
    'left-aside main-top right-aside'
    'left-aside main-bottom right-aside'
    'footer footer footer';
}
header{
    grid-area: header;
    background: #D9D9D9;

}
.left-aside{
    grid-area: left-aside;
    background: #C0BDBD;

}
.main-top{
    grid-area: main-top;
    background: #827878;

}
.main-bottom{
    grid-area: main-bottom;
    background: #B7ADAD;

}
.right-aside{
    grid-area: right-aside;
    background: #C0BDBD;

}
footer{
    grid-area: footer;
    background: #D9D9D9;

}
