*{
    text-decoration: none;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    margin: 0 auto;
    height: 70vh;
    width: 25vw;

}
.login{
    width: 100%;
    height: 80%;
    border: 1px solid rgba(128, 128, 128, 0.67);

}
.form img{
    width: 50%;
    display: block;
    margin: 0 auto;
}
.regist{
    border: 1px solid rgba(128, 128, 128, 0.67);
    width: 25vw;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
}
input{
    width: 80%;
    display: block;
    margin: 10px auto;
    height: 30px;
}
.fasebook{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin: 20px;

}
input[type="submit"]{
    margin-top: 20px;
    color: white;
    background: #68b5fa;
    border: none;
    border-radius: 10px;
}
span{
    color: gray;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}
.login svg{
    margin-bottom: -5px;
    margin-right: 5px;
}
.login p {
    color: #375185;
    font-weight: bold;
}
.login a{
    color: #324a78;
    font-weight: 400;
    font-size: 14px;
}
.regist a{
    margin-left: 4px;
}
